@import "./variables.scss";

// Primary button styles

.btn {
  color: #fff;
  background-color: #d1d1d1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  display: inline-block;

  &--circle {
    border-radius: 100%;
    padding: 5px;
  }

  &--primary {
    background-color: $primary-color;
    &:hover {
      background-color: lighten($primary-color, 10%);
    }

    &:active {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &--secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: lighten($secondary-color, 10%);
    }

    &:active {
      background-color: darken($secondary-color, 10%);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loading 1s ease-in-out infinite;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
  }
  &::before {
    content: "";
    border: inherit;
    border-radius: inherit;
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }
  &.loading {
    pointer-events: none;
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 1;
    }
  }
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.clickable-icon {
  cursor: pointer;
  &:focus, &:active {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 2px $secondary-color;
  }
}
